<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/files.js"></script>
</head>
<body>
    <row>
        <div class="col-lg-12" style="min-height:40px">
            <div style="max-width:600px;">
                <div class="input-group" style="margin:12px; float:left">
                    <span class="input-group-btn" style="margin-left:0px">
                        <input type="button" class="btn btn-info" value="↑" onclick="goToParent()"/>
                    </span>
                    <input class="form-control" type="text" id="filePath" placeholder="输入要浏览的位置" />
                    <span class="input-group-btn" style="margin-left:0px">
                        <input class="btn btn-primary" type="button" value="浏览" onclick="getFileInfo()" />
                    </span>
                </div>
            </div>

            <select id="keySelection" class="form-control" style="max-width:150px; float:right; margin:12px">
                <option>按名称排序</option>
                <option>按创建时间排序</option>
                <option>按大小排序</option>
            </select>
        </div>
    </row>
    <row class="container">
        <div class="col-lg-12" id="file-list">
            加载中…
        </div>
    </row>
</body>
</html>
